# 데이터 전체 제외
datasets/**
output_2class/**
sample_data/**

# 폴더 구조 유지용 파일은 허용
!datasets/.gitkeep
!output_2class/.gitkeep
!sample_data/.gitkeep

# 모델/결과
*.pt
*.pth
*.ckpt
*.onnx
*.zip

# 이미지
*.jpg
*.png

# 기타
__pycache__/