# ============================================================
# Datasets / Outputs
# ============================================================

datasets/**
output/**
output_2class/**

# Keep directory structure if needed
!datasets/.gitkeep
!output_2class/.gitkeep


# ============================================================
# Model / Result Files
# ============================================================

*.pt
# *.pth
# *.ckpt
*.onnx
*.zip


# ============================================================
# Images
# ============================================================

*.jpg
*.jpeg
*.png

# Allow sample images
!sample_data/
!sample_data/sample10/
!sample_data/sample10/*.jpg
!sample_data/sample10/*.jpeg
!sample_data/sample10/*.png


# ============================================================
# README Assets
# ============================================================

!assets/
!assets/*.jpg
!assets/*.jpeg
!assets/*.png


# ============================================================
# Python
# ============================================================

__pycache__/
*.pyc