# ?°?´?„° ? „ì²? ? œ?™¸
datasets/**
output_2class/**
sample_data/**

# ?´?” êµ¬ì¡° ?œ ì§??š© ?ŒŒ?¼??? ?—ˆ?š©
!datasets/.gitkeep
!output_2class/.gitkeep
!sample_data/.gitkeep

# ëª¨ë¸/ê²°ê³¼
*.pt
# *.pth
# *.ckpt
*.onnx
*.zip

# ?´ë¯¸ì??
*.jpg
*.png

# ê¸°í??
__pycache__/